---
---
@charset "utf-8";

@font-face {
    font-family: 'SquareFont';
    font-weight: 400;
    src: url(/fonts/squarefont.ttf);
}

html {
	background: url(/img/background.jpg) 50% 0% no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'alternate-gothic-no-3-d', sans-serif;
	font-size: 18px;
	color: white;
	line-height: 1.3;
}
body {
	min-width: 960px;
}

a {
	color: #ddd;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

h1 {
	text-align: center;
	margin: 60px 0;
}

div.page-content {
	width: 960px;
	margin: 40px auto;
}

main {
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	padding: 24px 24px;

}

h2 {
	font-family: 'SquareFont';
	$shadow-color: #222;
	text-shadow: 0.5px 0.5px 0 $shadow-color, 
		1px 1px 0 $shadow-color,
		1.5px 1.5px 0 $shadow-color,
		2px 2px 0 $shadow-color,
		2.5px 2.5px 0 $shadow-color,
		3px 3px 0 $shadow-color,
		3.5px 3.5px 0 $shadow-color;
	margin: 24px 0 16px;
	font-size: 28px;
	font-weight: normal;
	&:first-of-type {
		margin-top: 0;
	}
}

h3 {
	margin: 24px 0 16px;
	font-size: 24px;
	font-weight: normal;
	&:first-of-type {
		margin-top: 0;
	}
}

ul.gallery {
	margin: 20px 0;
	padding: 0;
	text-align: center;
	> li {
		list-style: none;
		display: inline;
		margin: 0;
		padding: 0;
		img {
			max-width: calc(33% - 20px);
			margin: 0 5px;
		}
	}
}

div.row {
	overflow: hidden;
	> .col-6 {
		width: 50%;
		float: left;
		&:last-of-type {
			float: none;
			width: auto;
			overflow: hidden;
		}
	}
}

aside {
	float: right;
	width: 30%;
	margin-left: 15px;

	> section {
		background: rgba(0, 0, 0, 0.5);
		padding: 24px 24px;
		margin-bottom: 15px;
	}
}

@mixin big-button-color($color) {
	background: $color;

	$shadow-color: darken($color, 20%);

	box-shadow: 0.5px 0.5px 0 $shadow-color, 
		1px 1px 0 $shadow-color,
		1.5px 1.5px 0 $shadow-color,
		2px 2px 0 $shadow-color,
		2.5px 2.5px 0 $shadow-color,
		3px 3px 0 $shadow-color,
		3.5px 3.5px 0 $shadow-color;
	text-shadow: 0.5px 0.5px 0 $shadow-color, 
		1px 1px 0 $shadow-color,
		1.5px 1.5px 0 $shadow-color,
		2px 2px 0 $shadow-color;

	&:hover {
		background: lighten($color, 5%);
	}
}

.big-button {
	display: block;
	@include big-button-color(#ED6806);
	color: white;
	margin-top: 20px;
	padding: 0;
	line-height: 2;
	text-align: center;
	font-size: 24px;
	text-decoration: none;
	font-family: 'SquareFont';
	font-weight: normal;
	transition: background-color 0.1s;
	&:first-of-type {
		margin-top: 0;
	}
	&.blue {
		@include big-button-color(#0668ED);
	}
}

footer {
	text-align: center;
	margin: 45px 0;
	clear: both;
}