# http://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{hpp,cpp}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.{as}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
