<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=651264351624568";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header class="site-header">
  <h1><img src="{{ "/img/header.png" | prepend: site.baseurl }}" width="621" height="145" alt="OpenSpades"></h1>
  <div>
  	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://openspades.yvt.jp" data-text="OpenSpades, the open-source voxel first person shooter" data-via="YVT" data-hashtags="BuildAndShoot">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<div class="fb-share-button" data-href="http://openspades.yvt.jp" data-layout="button"></div>
  </div>
</header>
