<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="https://use.typekit.net/qta2cow.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="/lightbox/js/lightbox-plus-jquery.min.js" type="application/javascript"></script>
    <script src="/js/global.js" type="application/javascript"></script>
  </body>

</html>
